@model MyMoviesMVC.Models.MoviePath

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MoviePath</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Movies_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Movies_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.path)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
